.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: #f2f2f2;
  box-shadow: 0 10px 20px 0px gray;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  z-index: 1;
}

.title {
  font-size: 36px;
  font-family: 'Josefin Sans';
  font-weight: bold;
  color: #f0e8e8;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 18px;
  font-family: 'Josefin Sans';
  color: #ebe8e8;
}

@media (max-width: 790px) {
  .hero {
    height: 500px;
  }
  
  .title {
    font-size: 28px;
  }
  
  .subtitle {
    font-size: 16px;
  }
}
